$gadient-bt: linear-gradient(-180deg, #2E1461, #6A5389);
$gadient-lr: linear-gradient(90deg, #9c84c2, #270d5c);

$grid-gutter-width : 30px;

$primary:       #604d8c;
$white:         #fff;
$black:         #000;
$purple-dr:     #270d5c;
$purple:        #604d8c;
$purple-lg:     #9c84c2;
$green:   		#a6d634;
$yellow:        #FACA51;
$gray:          #757575;
$heading-color: #222;
$border-color:  #eee;

html {
	height: 100%;
	overflow-y: scroll;
	width: 100%;
}

html.fixed {
	position: fixed;
	top: 0;
}

body {
	overflow-x: hidden; 
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

a {
	&:hover {
		text-decoration: none;
		//color: darken($primary, 5%);
	}
}

.row {
	overflow: unset !important;
}

.button {
	margin-bottom: 0;
	font-weight: 400 !important;
	border: none !important;

	&.whatsapp {
		color: #25D366;
	}

	&.facebook {
		color: #3a589d;
	}

	&.twitter {
		color: #2478ba;
	}

	&.email {
		color: #E65C4F;

		&:hover {
			background: #E65C4F !important;
			border-color: #E65C4F !important;
		}
	}

	&.pinterest {
		color: #cb2320;
	}

	&.linkedin {
		color: #0072b7;
	}

	&.back-to-top {
		background: $purple !important;
		color: $white;
	}
}


// Header
#header {
	z-index: 999;
}

.header-wrapper {
	background: $gadient-bt !important;

	#top-bar {
		background: transparent;
		padding: 16px 0;

		ul {
			display: flex;

			li {
				margin-right: 8px;
				margin-bottom: 0;
				display: flex;
				line-height: 1;

				span {
					margin-right: 8px;
				}

				&.link-pharmacy {
					a {
						color: $green;
					}
				}
			}

			a {
				color: $white;

				&:hover {
					color: $green;
					opacity: 0.85;
				}
			}

			&.has-line {
				>li {
					+li {
						margin-left: 4px;
						padding-left: 8px;
						border-left: 1px solid $white;
					}
				}
			}
		}
	}

	.header-main {
		//background: $gadient-bt;
		height: auto !important;

		.header-inner {
			align-items: flex-start;
			padding-top: 10px;
			padding-bottom: 10px;

			// Logo
			.logo {
				//width: 30%;
				margin-right: 0;

				img {
					max-height: 70px !important;
				}
			}
		}
	}

	.header-bg-container {
		display: none;
	}

	.header-nav-main {

		li.menu-item {
			padding: 0 !important;

			a {
				color: $white;
				padding-top: 15px;
				padding-bottom: 0;
				font-weight: 400;

				&:after {
					display: none;
				}

				&:hover {
					color: $green;
				}
			}

			&.active {
				a {
					color: $green;
				}
			}
		}

		.header-search-form {
			width: 97%;
		}

		.html_topbar_left {
			margin-left: 0;
		}

		// Cart
		.cart-item {
			margin-left: 12px;

			&:before, &:after {
				top: 35px;
			}

			.header-cart-link {
				color: $white;
				padding: 0;
				width: 40px;
				display: flex;
				justify-content: flex-end;

				strong {
					background: transparent;
					color: $green;
					border: none;
					position: relative;
					margin: 0;
					font-size: 16px;
					line-height: 1;

					&:before {
						content: '';
						position: absolute;
						background-image: url('../images/white-cart.png');
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						top: 0;
						right: -2px;
						width: 52px;
						height: 36px;
						//display: none;
					}


					&:after {
						display: none;
					}

					&:hover, &:focus, &:active {
						background: transparent !important;
						

						&:before {
							opacity: 0.85;
						}
					}
				}
			}

			ul.nav-dropdown {
				border: none;
				right: 0 !important;
				top: 50px;
				opacity: 0;
				visibility: hidden;

				li.widget_shopping_cart {
					.widget_shopping_cart_content {
						ul.woocommerce-mini-cart {
							li {
								// Icon remove
								a.remove {
									color: $gray;
									padding: 0;
									border: none;
									font-size: 18px !important;
									width: auto !important;
									height: auto !important;

									&:hover {
										color: $primary;
									}
								}

								// Image
								a {
									color: #000;
									height: 38px;
									overflow: hidden;
									font-size: 14px;

									img {

									}

									&:hover {
										color: $primary;
									}
								}

								.variation {
									display: none;
								}

								.quantity {
									opacity: 1;

									.amount {
										color: $primary;
										font-weight: 400;
									}
								}
							}
						}

						.woocommerce-mini-cart__total {
							position: absolute;
							bottom: 20px;
							left: 20px;
							z-index: 100;
							padding: 0;
							border: none;
							font-weight: 500;

							strong {
								font-weight: 400;
								font-size: 14px;
							}

							.amount {
								color: $primary;
								font-weight: 500;
							}
						}

						.woocommerce-mini-cart__buttons {
							margin-top: 15px;
							width: 300px;

							// Button
							.wc-forward {
								display: none;
							}

							// Button checkout
							.checkout  {
								background: $gadient-lr;
								border: none;
								display: block;
								width: 100px;
								float: right;
								font-weight: 400;
								line-height: 32px;
								font-size: 13px;
							}
						}
					}
				}
			}

			&.current-dropdown {
				.nav-dropdown {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.block-user {
			position: relative;
			display: block;

			.icons-user {
				display: flex;
				//align-items: center;
				color: $white;
				font-size: 34px;
				width: 58px;
				align-items: center;

				.ic-user {
					margin-right: 4px;
					margin-left: 10px;
					line-height: 1;
					
				}

				.ic-close {
					display: none;
					line-height: 1;
					font-size: 22px;
				}

				.ic-down {
					line-height: 1;
					font-size: 22px;
				}
			}

			.drop-content {
				display: none;
				position: absolute;
				box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
				top: 50px;
				right: 0;
				min-width: 400px;
				border-radius: 20px;
				z-index: 10;

				.head-top {
					//background: $gadient-lr;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					color: $white;
					padding: 20px;

					&.sign-in {
						background: $gadient-lr;
					}

					&.sign-up {
						//background: $white;
						padding: 0;
					}

					.ct-wrap {
						display: flex;
						align-items: center;
						justify-content: center;

						h4 {
							margin: 0;
							color: $white;
							margin-right: 10px;
							border: none;
							width: auto;
							font-size: 20px;
						}

						span {
							a {
								color: $white;
								font-size: 14px;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}

				.form-login {
					background: $gadient-lr;
					border-radius: 20px;
					width: 100%;

					.header-form {
						// Logo
						.logo-site {
							display: flex;
							justify-content: center;
							padding-top: 20px;

							img {
								width: 65px;
								margin-bottom: 6px;
							}
						}

						.wrap-info {
							display: flex;
							padding: 10px 16px 16px;

							>h2 {
								color: $white;
								font-size: 17px;
								margin: 0;
								font-weight: 400;
								display: inline-block;
								width: auto;

								a {
									color: $white;
									font-size: 13px;
									border-bottom: 1px solid $white;
									margin-left: 8px;

									&:hover {
										opacity: 0.6;
									}
								}
							}

							.sign-up {
								line-height: 1;

								a {
									color: $white;
									font-size: 13px;
									border-bottom: 1px solid $white;

									&:hover {
										opacity: 0.6;
									}
								}
							}
						}
						
					}

					.woocommerce-form-login {
						border-radius: 0 0 20px 20px;
					}
				}

				.txt-info {
					background: $white;
					padding: 12px;
					border-bottom: 1px solid #eee;
					text-align: center;

					p {
						margin: 0;
					}
				}

				// Menu
				.menu-user {
					background: $white;
					padding-bottom: 15px;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;

					ul {
						display: flex;
						flex-wrap: wrap;

						li {	
							width: 50%;
							//text-align: center;
							margin: 8px 0 0;

							a {
								color: #000;
								padding: 0;
								float: right;

								&:hover {
									color: $primary;
								}
							}

							&:nth-child(even) {
								a {
							    	width: 80%;
							    }
							}

							&:nth-child(odd) {
							    a {
							    	width: 70%;
							    }
							}
						}
					}
				}
			}

			&.show {
				.icons-user {
					.ic-down {
						display: none;
					}

					.ic-close {
						display: inline-block;
					}
				}
			}
		}
	}

	.html_topbar_left {
		//margin-left: 0;

		.ic-canvas {
			padding-top: 13px;
			display: inline-block;

			i.far {
				color: $white;
			}
		}
	}
}

li.html {
	padding: 0 !important;
}

.header-search-form-wrapper {
	// Search
	.searchform {
		position: relative;

		input[type="search"] {
			box-shadow: none;
			border-radius: 30px;
			height: 44px;
			padding: 6px 16px;
		}

		.ux-search-submit {
			position: absolute;
			top: 6px;
			right: 5px;
			background: $green !important;
			border-radius: 0 16px 16px 0 !important;
			border: none;
			padding: 0px 18px;
		}
	}
}


.header-bottom {
	background: $white !important;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
	position: fixed !important;
	bottom: 0;
	left: 0;
	right: 0;

	.flex-row {
		padding: 0;
	}

	ul.nav {
		justify-content: space-around;
		padding: 6px 0;

		li {
			margin: 0;
			
			a {
				border: none;
				background: transparent;
				color: $heading-color !important;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0;
				font-weight: 500;
				font-size: 14px;

				img {
					margin-bottom: 6px;
					margin-right: 0;
				}

				&:hover {
					color: $primary !important;
				}
			}

			.num-product {
				position: absolute;
				top: -2px;
				right: -15px;
				background: $green;
				text-align: center;
				padding: 4px 8px;
				line-height: 1;
				font-size: 12px;
				font-weight: 500;
				border-radius: 8px;
				color: #212121;
			}

			&.active {

			}
		}
	}
}

#main {
	padding: 20px 0;
}

.slider-wrapper {
	.flickity-page-dots {
		.dot {
			background: rgba(225, 225, 225, 0.7);
			border: none;

			&.is-selected {
				background-color: $green !important;
				border-color: $green;
			}
		}
	}
}

.section-hero {
	@media (min-width: 850px){
		>.col {
			padding-bottom: 6px !important;

			&.grid-col-1 {
				padding-right: 0;
			}

			&.grid-col-1-2 {
				padding-left: 6px;
			}
		}	
	}

	>.col {
		@media (max-width: 550px){
			padding: 0 !important;
		}
	}

	.slider-wrapper {
		overflow: hidden;
		
		>.slider {
			margin: 0 -1px;
		}
	}

	.flickity-slider {
		div.img {
			.img-inner {
				height: 100%;

				img {
					height: 100%;
				}
			}
		}
	}

	.flickity-button {
		&.flickity-prev-next-button.previous {
			left: 0;
		}

		&.flickity-prev-next-button.next {
			right: 0;
		}
	}
}

.section-browse {
	.section-title-container {
		margin: 0;

		.section-title {
			margin: 0;
			border-width: 1px;
			padding: 10px 15px;

			>span {
				border: none;
				padding: 0;
				margin: 0;
			}
		}
	}

	.list-category {
		padding: 30px 0 0;
		margin: 0 !important;

		.col {
			@media (max-width: 550px){
				padding-left: 8px !important;
				padding-right: 8px !important;
			}
		}
	}

	.product-category {
		//padding-top: 15px;
		//border-bottom: 1px solid #eee;

		+.product-category {
			//border-left: 1px solid #eee;
		}

		.col-inner {
			.box-image {
				//padding: 20px;

				img {
					border-radius: 50%;
					//border: 1px solid $border-color;
					transition: all 0.3s ease;
					width: 71px;
					max-height: 71px;
				}
			}

			.box-text {
				position: static;
				//margin-top: 15px;

				.header-title {

				}
			}
		}

		&:hover {
			.box-image {
				img {
					//transform: translateY(-5px);
				}
			}

			.box-text {
				background: transparent;

				.header-title {
					color: $purple;
				}
			}
		}
	}
}


// Off Canvas
.off-canvas {
	position: relative; 
	width: 100%; 
	overflow: hidden; 

	// Over background black body
	&.menu-is-active {
		.exit-offcanvas { 
			transition: all 0.3s ease;
			display: block; 
			position: absolute; 
			top: 0; 
			left: 0; 
			z-index: 10000; 
			background: rgba(0, 0, 0, 0.8); 
			height: 100%; 
			width: 100%; 

			&:hover { 
				background: rgba(0, 0, 0, 0.75); 
				cursor: pointer; 
			}
		}

		.wrap-canvas {
			left: 0;
			right: auto;
		}
	}  
}

// Menus Off Canvas
.block-canvas {
	.wrap-ct {
		position: relative;
	}

	.icon-close {
		transition: all 0.3s ease;
		color: $white;
		text-align: center;
		position: absolute;
		left: 350px;
		top: 0;
		z-index: 10000;
		font-size: 34px;
		line-height: 1;

		&:hover {
			opacity: 0.85;
		}
	}
}

.wrap-canvas {
	position: absolute; 
	top: 0;
	min-height: 600px; 
	//overflow: hidden;
	width: 350px; 
	z-index: 10009; 
	height: 100vh;
	transition: all 0.4s ease;
	right: auto; 
	left: -380px; 

	.head-top {
		background: $gadient-lr;
		padding: 15px 30px;
		border-top-right-radius: 60px;
		display: flex;
		align-items: center;

		.ic-user {
			color: $white;
			font-size: 50px;
			margin-right: 20px;
			line-height: 1;
		}

		.ct-right {
			color: $white;

			a {
				color: $white;
				//font-size: 14px;

				&:hover {
					text-decoration: underline;
				}
			}

			h4 {
				color: $white;
				margin-top: 0;
				margin-bottom: 0;
				font-size: 16px;
			}

			.link-sign {
				font-size: 12px;
			}

			span {
				a {
					font-size: 14px;
				}
			}
		}
	}

	.wrap-menu {
		background: $white; 
		overflow-y: auto; 
		height: calc(100vh - 120px);

		.menu-canvas {
			ul {
				li {
					margin: 0;

					a {
						padding: 8px 25px;
						width: 100%;
						display: inline-block;

						&:hover {
							color: $white;
							background: $gadient-lr;
						}
					}

					&.current-menu-item {
						a {
							color: $white;
							background: $gadient-lr;
						}
					}
				}
			}

			>ul {
				>li {

					>a {
						
					}

					&.menu-heading {
						background: #E8E8E8;

						>a {
							color: $purple;
							font-size: 18px;
							font-weight: 500;

							&:hover {
								color: $white;
							}
						}

						ul.sub-menu {
							background: $white;
							margin: 0;
							//padding-left: 40px;
						}
					}
				}
			}
		}
	}
}


// Title Section
.block-title {
	padding-bottom: 0 !important;

	.wrap-ct {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		padding: 10px 15px;
		border-bottom: 1px solid $border-color;

		.box-sec {
			display: flex;
			align-items: center;

			h3 {
				margin: 0 10px 0 0;
				width: auto;
			}

			p {
				margin-bottom: 0;
			}

			a {
				font-size: 14px;
				color: $gray;

				&:hover {
					color: $primary;
				}
			}
		}

		// Share social
		.share-button-wrapper {
			.ic-share {
				text-align: right;

				&:hover {
					color: $green;
				}
			}

			.wrap-ic {
				background: $white;
				border: 1px solid $border-color;
				padding: 6px 20px;
				position: absolute;
				top: 60px;
				right: 0;
				z-index: 1000;
				display: flex;
				//flex-direction: column;
				//transform: translateY(-50%);
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;

				.share-button {
					+.share-button {
						margin-left: 8px;
					}
				}
			}

			&.show {
				.wrap-ic {
					opacity: 1;
					visibility: visible;
					top: 50px;
				}
			}
		}
	}
}

// Free ship
.free-shipping {
	font-size: 0;
	display: flex;
	align-items: center;

	&:before {
		content: '';
		background-image: url("../images/freeship.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 20px;
		height: 12px;
		display: inline-block;
	}
}

.item {
	transition: all 0.3s ease;
	height: 100%;

	// Sale
	.onsale {
		display: none;
	}

	// Picture
	.item-media {
		position: relative;

		// Brand percent sale in picture
		.percent-sale {
			.number-percent {
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(255,212,36,.9);
				width: 38px;
				height: 35px;
				padding: 4px;
				color: $primary;
				font-size: 14px;
				line-height: 1.1;
				text-align: center;
				font-weight: 500;

				span {
					color: $white;
					text-transform: uppercase;
					display: block;
					font-size: 12px;
				}
			}
			
			&:before {
				content: "";
				width: 0;
				height: 0;
				top: 35px;
				right: 0;
				position: absolute;
				border-color: transparent rgba(255,212,36,.9);
				border-style: solid;
				border-width: 0 19px 4px;
			}
		}
	}

	.item-body {
		padding: 12px;

		.dokan-wholesale-price {
			display: none;
		}

		// Title
		.title-product {
			margin-bottom: 8px;

			h3 {
				margin: 0;
				font-size: 12px;
				transition: all 0.3s ease;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}

		// Price
		.price-sold {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			color: $gray;

			.product-page-price {
				font-size: 15px;
				padding: 0;

				del {
					span {
						font-size: 12px;
					}
				}

				ins {
					span {
						color: $primary;
						font-weight: 500;
					}
				}

				>span.amount {
					color: $primary;
					font-weight: 400;
				}
			}

			.number-sold {
				font-size: 12px;
			}
		}

		.info-pd {
			//margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;

			.favorite-pd {
				//margin-top: 10px;

				a {
					color: $primary;
				}
			}

			.ele-pd {
				display: flex;
				align-items: center;

				// Ratings
				.ratings {
					.star-rating {
						margin: 0;
						font-size: 12px;

						&:before {
							color: $purple;
						}

						span {
							&:before {
								color: $purple;
							}
						}
					}
				}

				// Number sell
				.number-sold {
					font-size: 12px;
					margin-left: 4px;
					color: $gray;
				}
			}
		}
	}

	&:hover {
		box-shadow: 0 .0625rem 20px 0 rgba(0,0,0,.05);
		transform: translateY(-.0625rem);

		.title-product {
			h3 {
				text-decoration: underline;
			}
		}
	}
}


// Product
.slide-home {
	margin: 0 auto !important;
	border-bottom: 1px solid $border-color;

	.product-small {
		padding: 0 !important;
	}

	.item {
		border-left: 1px solid $border-color;
		padding-bottom: 0 !important;
		height: 100%;

		// Name vendor
		.name-vendor {
			background: $gadient-lr;
			color: $white;
			text-transform: uppercase;
			font-size: 10px;
			padding: 4px 12px;
			border-radius: 20px;
			margin-bottom: 6px;
			display: inline-block;
		}

		// Price
		.price-product {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			color: $gray !important;

			.price-sale {
				display: flex;
				line-height: 1;
				flex-wrap: wrap;
				flex-direction: column;

				&.horizontal {
					flex-direction: row;
				}

				del {
					line-height: 1;
					order: 2;

					span {
						font-size: 14px;
						//opacity: 0.8;
					}
				}

				ins {
					margin-bottom: 8px;
					width: 100%;
					order: 1;

					span {
						font-size: 16px;
						font-weight: 500;
						color: $primary;
					}
				}

				>span.amount {
					font-weight: 500;
					color: $primary;
					margin-right: 5px;
				}
			}

			// Percent
			.item-percent {
				display: flex;

				// Number percent
				.number-percent {
					margin: 0 5px 0 0;
					font-size: 14px;
					line-height: 1;
				}
			}
		}

		.product-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 4px;
			color: $gray !important;

			// Ratings
			.ratings {
				display: flex;
				align-items: center;

				.star-rating {
					font-size: 12px;
					margin-right: 3px;

					&:before {
						color: $purple;
					}

					span {
						font-size: 12px;
						color: $purple;

						&:before {
							color: $purple;
						}
					}
				}

				// Number review
				.num-review {
					font-size: 13px;
				}
			}

			// Country vendor
			.country-vendor {
				font-size: 13px;
			}
		}
	}
}

// List Product
.list-product {
	.col-inner {
		padding-bottom: 20px;
	}

	.owl-stage {
		display: flex;
	}

	.owl-stage-outer {
		padding: 0 0 5px;

		.owl-item {
			border: 1px solid $border-color;
			transition: all 0.3s ease;

			+.owl-item {
				border-left: none;
			}

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
			}
		}
	}
}

.banner-bottom {
	padding: 0 15px;

	@media (max-width: 550px){
		display: none !important;
	}

	>.col {
		padding-right: 0;
		padding-left: 0;
	}
}

.slider-banner {
	@media (min-width: 550px){
		display: none;
	}
}


// Brand Feature slider
.slider-brand {
	padding-bottom: 20px;

	.owl-item {
		+.owl-item {
			border-left: 1px solid $border-color;
		}
		.item {
			&:hover {
				box-shadow: none;
				transform: translate(0, 0);
			}
		}

		.ele-wrap {
			border-bottom: 1px solid $border-color;
			padding: 15px;
			transition: all 0.3s ease;
			transform: scale(1,1);

			>a {
				min-height: 160px;
			    overflow: hidden;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			}

			&:hover {
				box-shadow: none;
				transform: translate(0, 0) scale(1.02,1.02);
			}
		}
	}
}

.section-user {
	margin-top: 50px;

	@media (max-width: 550px){
		margin-top: 16px;
	}
	
	.button {
		background: $gadient-lr;
		margin-bottom: 8px;
		border-radius: 30px !important;
	}
}

// Arrow next, previous 
.flickity-button.flickity-prev-next-button {
	&.previous {
		left: -15px;
	}

	&.next {
		right: -14px;
	}
}

// Navigation Owl carousel
.owl-carousel {
	.owl-nav {
		margin: 0;

		button {
			border-radius: 50% !important;
			border: 2px solid #111 !important;
			color: $gray !important;
			display: inline-block;
			height: 36px;
			margin: 0 !important;
			min-height: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			width: 36px;

			i {
				font-size: 22px;
				color: #111;
			}

			&:hover {
				background: $primary !important;
				border-color: $primary !important;
				
				i {
					color: $white !important;
					//box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
				}
			}
		}

		.owl-prev {
			left: -16px;
		}

		.owl-next {
			right: -16px;
		}
	}
}

// Yithwish product
.yith-wcwl-wishlistexistsbrowse span.feedback {
    display: none;
}

.yith-wcwl-wishlistaddedbrowse a {
    font-size: 0px;
}

i.yith-wcwl-icon.fa.fa-heart {
    display: block !important;
    font-size: 17px;
}

// Footer
.footer-wrapper {
	
	.footer-1 {
		padding-top: 60px;

		#text-2 {
			max-width: 50%;
			flex-basis: 50%;

			.textwidget {
				max-width: 500px;
			}
		}

		#text-3 {
			max-width: 25%;
			flex-basis: 25%;
		}

		#text-4 {
			max-width: 25%;
			flex-basis: 25%;

			h2 {
				font-size: 1em;
				font-weight: 500;
				text-transform: uppercase;
				color: $gray;
				margin-top: 40px;
			}
		}

		.widget-title {
			text-transform: uppercase;
			margin-bottom: 15px;
			display: inline-block;
			color: $gray;
			font-weight: 500;
		}

		.is-divider {
			display: none;
		}
	}

	.footer-2 {
		border: none;

		.widget-title {
			color: $gray;
			font-weight: 500;
			font-size: 18px;
		}

		.is-divider {
			display: none;
		}

		.row {
			.col {
				max-width: 20%;
				flex-basis: 20%;
			}
		}

		ul.menu {
			margin-top: 15px;

			li {
				border-top: none;

				a {
					padding: 4px 0;
				}
			}
		}
	}
}


/* sidebar */
#shop-sidebar {
	.is-divider {
		display: none;
	}

	.woocommerce  {
		+.woocommerce {
			//border-top: 1px solid $border-color;
			//padding-top: 20px;
			margin-top: 32px;
		}

		/* Title */
		.widget-title {
			color: $heading-color;
			margin-bottom: 15px;
			display: inline-block;
			font-size: 17px;
			font-weight: 500;
			border-bottom: 1px solid $border-color;
			width: 100%;
			padding-bottom: 10px;

			&:before {
				content: '\f0c9';
				display: inline-block;
				font-size: 15px;
				font-weight: 600;
				color: $heading-color;
				font-family: 'Font Awesome 5 Pro';
				margin-right: 10px;
			}
		}

		.dokan-wholesale-price {
			display: none;
		}

		&.widget_price_filter {
			.widget-title {

				&:before {
					content: '\f0b0';
				}
			}
		}

		&.widget_product_categories {
			.widget-title {

				&:before {
					content: '\f03a';
				}
			}
		}

		// Category
		.product-categories {
			li {
				border: none;

				a {
					padding: 0;
					line-height: 32px;

					&:hover {
						//color: $primary;
					}
				}

				&.active {
					a {
						color: $primary;
						font-weight: 500;
					}
				}
			}
		}

		// Ratings
		ul {
			>li.wc-layered-nav-rating {
				border: none;

				a {
					padding: 0;
					line-height: 32px;

					span {
						font-size: 14px;

						&:before {
							color: $purple;
						}
					}
				}
			}
		}

		// Filter price
		.price_slider_wrapper {
			.ui-slider {
				margin: 10px 0 20px;

				.ui-slider-range {
					background: $green;
					opacity: 0.7;
				}

				.ui-slider-handle {
					background: $green;
				}
			}

			.price_slider_amount {
				.button {
					background: $gadient-lr;
					color: $white;
					padding-left: 28px;
					padding-right: 28px;
					border: none;
					height: 35px;

					&:hover {
						background: $gadient-lr;
						opacity: 0.9;
					}
				}

				.price_label {
					.from, .to {
						color: $primary;
						font-weight: 500;
					}
				}
			}
		}

		// Top rate product
		.product_list_widget {
			li {
				padding-top: 15px;
				padding-bottom: 15px;
				min-height: 100px;

				// Title
				a {
					font-size: 14px;
					max-height: 3.6em;
					line-height: 1.65em;
					margin-bottom: 0;

					img {
						top: 20px;
					}
				}

				.star-rating {
					display: none;
				}

				del {
					font-size: 12px;
				}

				ins {
					span {
						color: $primary;
						font-weight: 500;
					}
				}

				>span.amount {
					color: $primary;
					font-weight: 400;
					font-size: 14px;
				}
			}
		}
	}
}

.category-page-title {
	display: none;
}

.woocommerce-ordering {
	background: rgba(0,0,0,.03);
	padding: 12px 16px 8px;
	width: 100%;
	margin: 0 0 32px !important;

	.sort-bar {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		>span.sort-bar__label {
			margin-right: 18px;

			@media (max-width: 850px){
				margin-right: 0;
				margin-bottom: 15px;
				width: 100%;
			}

			@media (max-width: 550px){
				font-size: 20px;
				color: $heading-color;
			}
		}

		.orderby-options {
			input[type="button"] {
				font-size: 14px;
				background: $white;
				padding: 10px 16px;
				margin-right: 10px;
				text-transform: none;
				color: rgba(0,0,0,.8);
				line-height: 1;
				margin-bottom: 5px;
				font-weight: 400;
				transition: all 0.3s ease;

				&:hover {
					color: $white;
					background: $primary;
					box-shadow: none;
				}
			}

			input[checked=""] {
				color: $white;
				background: $primary;
				box-shadow: none;
			}

			.orderby-price {
				width: auto;
				background: $white;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
				background-repeat: no-repeat;
				background-position-x: 96%;
				background-position-y: 5px;
				padding-right: 30px;
				font-size: 15px;
				height: 36px;
				margin-top: 0;

				&:hover, &:focus, &:active{
					box-shadow: none;
				}

				&.selected {
					color: $primary;

					option {
						color: $black;
					}
				}
			}
		}
	}
}

// Form login
.woocommerce-form-login.woocommerce-form-login {
	background: $white;
	margin-bottom: 0 !important;
	padding: 20px;

	form {
		margin-bottom: 0;
	}

	.woocommerce-form-row {
		margin-bottom: 15px;

		label {
			font-weight: 500;
			font-size: 15px;
		}

		input.input-text {
			height: 48px !important;
			max-height: 48px !important;
			box-shadow: none;

			&:focus, &:hover, &:active {
				border: 2px solid $purple-lg;
			}
		}
	}

	.form-row {
		.woocommerce-form__label {
			font-weight: 500;

			#rememberme {
				margin-right: 4px;
			}
		}

		.woocommerce-form-login__submit {
			background: $gadient-lr;
			border: none;
			font-weight: 500;
			padding: 2px 32px;
			margin-top: 15px;
			width: 100%;
			height: 50px;
		}
	}

	.lost_password {
		font-size: 13px;
		text-align: center;
		margin-top: 8px;
	}
}

.my-account-header {
	display: none;
}

.page-template-login,
.woocommerce-account:not(.logged-in) {
	#main {
		padding: 150px 16px;
		background-image: url('../images/background-login.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 850px){
			padding: 60px 16px;
		}
	}
}

.page-template-register,
.page-template-register-vendor {
	#main {
		padding: 150px 16px;
		background-image: url('../images/background-login.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 850px){
			padding: 60px 16px;
		}
	}
}

.my-account,
.page-template-login {
	.woocommerce-inner {
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;

		.box-content {
			background: $white;
			padding: 40px;
			max-width: 510px;
			margin: 0 !important;

			@media (max-width: 570px){
				padding: 20px;
			}

			h3 {
				display: none;
			}
		}
	}

	// login
	.form-login {
		.logo-site {
			margin-bottom: 20px;

			img {
				height: 60px;
				width: auto;
			}
		}

		.wrap-form {
			border: 1px solid rgba(0, 0, 0, 0.7);
			border-radius: 4px;
			padding: 30px;

			@media (max-width: 570px){
				padding: 20px;
			}

			.header-form {
				margin-bottom: 15px;

				>h2 {
					font-size: 24px;
					margin: 0;
					font-weight: 400;
					display: inline-block;
					width: auto;

					@media (max-width: 570px){
						font-size: 20px;
					}

					a {
						color: $purple;
						font-size: 16px;
						border-bottom: 1px solid $white;
						margin-left: 8px;

						&:hover {
							opacity: 0.6;
						}
					}
				}
			}

			.woocommerce-form-login {
				padding: 0;
			}
		}
	}
}

.woocommerce-message {
	.success-color {
		background: #e2ecd9;
		padding: 15px;
		border-radius: 6px;
		font-size: 16px;
	}
}

.woocommerce-error {
	background: #f4cece;

	li {
		margin-bottom: 0;

		+li {
			margin-top: 8px;
		}
	}
}

.account-container {
	.account-register-inner {
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;

		.box-content {
			max-width: 600px;
			//margin: 0 auto;
			border: 1px solid $border-color;
			padding: 32px;
			background: $white;

			@media (max-width: 570px){
				padding: 20px;
			}

			h3 {
				text-transform: capitalize;
				margin-bottom: 20px;
			}

			label {
				font-weight: 500;
				font-size: 15px;

				a {
					font-size: 12px;
					color: $green;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			input.input-text,
			.input-select,
			input.input {
				box-shadow: none;
				height: 48px !important;
				max-height: 48px !important;

				&:focus {
					border: 2px solid $purple-lg;
				}
			}

			.form-row {
				margin-bottom: 0;
			}

			.vendor-customer-registration {
				label {
					line-height: 1;

					input[type="radio"] {
						margin-bottom: 5px;
					}
				}
			}

			.woocommerce-password-strength {
				color: $primary;
			}

			.woocommerce-password-hint {
				margin-bottom: 16px;
				opacity: 0.7;
			}

			#billing_country {
				>span {
					width: 100%;

					.select2-selection--single {
						height: 48px;

						>span {
							line-height: 44px;
						}
					}
				}
			}

			.woocommerce-form-register__submit,
			input.dokan-btn-theme {
				background: $gadient-lr;
				font-weight: 400;
				padding: 2px 32px;
				margin: 12px 0 0;
				height: 42px;
				border: none;
			}
		}
	}
}


// Single Product
.pg-single-product {

	.title-head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.title-txt {
			display: flex;
			align-items: center;

			h3 {
				width: auto;
				margin-right: 10px;
				margin: 0;

				@media (max-width: 540px){
					font-size: 20px;
				}
			}

			span {
				margin-left: 10px;
				color: $primary;
				border: 1px solid $primary;
				border-radius: 1px;
				padding: 0 5px;
				font-size: 12px;
			}
		}

		.link-more {
			a {
				color: $primary;

				i {
					font-size: 12px;
					margin-left: 5px;
					display: inline-block;
				}
			}
		}
	}

	// Breadcrumb
	.breadcrumb-block {
		margin-bottom: 20px;
		
		.breadcrumbs  {
			font-weight: 400;
			line-height: 1.5;
		}
	}

	.list-pd {
		.slider-wrap {

			// Picture
			.pic-product {
				position: relative;

				.cent-txt {
					.wrap-inner {
						position: absolute;
						top: 0;
						right: 0;
						background: rgba(255,212,36,.9);
						width: 38px;
						height: 35px;
						padding: 4px;
						color: $primary;
						font-size: 12px;
						line-height: 1.1;
						text-align: center;
						font-weight: 600;

						span {
							color: $white;
							text-transform: uppercase;
							display: block;
						}
					}
					
					&:before {
						content: "";
						width: 0;
						height: 0;
						top: 35px;
						right: 0;
						position: absolute;
						border-color: transparent rgba(255,212,36,.9);
						border-style: solid;
						border-width: 0 19px 4px;
					}
				}
			}

			.price-sold {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.price-on-sale {
					font-size: 15px;

					del {
						span {
							font-size: 12px;
						}
					}

					ins {
						span {
							color: $primary;
							font-weight: 500;
						}
					}

					>span.amount {
						color: $primary;
						font-weight: 500;
					}
				}

				.sold-txt {
					font-size: 12px;
				}
			}
		}

		&.single-pd {
			.owl-item {
				background: $white;

				.item {
					transition: all 0.3s ease;

					&:hover {
						box-shadow: 0 .0625rem 20px 0 rgba(0,0,0,.05);
						transform: translateY(-.0625rem);
					}
				}
			}
		}
	}
}

.star-rating {
	&:before {
		color: $purple !important;
	}

	span {
		&:before {
			color: $purple !important;
		}
	}
}

.product-small {
	.item {
		.item-media {
			//min-height: 200px;
			padding: 2px 12px;
		}
	}
}

.slide-home {
	.item {
		.item-media {
			min-height: 200px;
		}
	}
}

.shop-container {

	.badge-container {
		display: none;
	}

	.product-small {
		padding: 0 6px 12px 0 !important;

		.col-inner {
			background: $white;
			height: 100%;
			box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
			transition: all 0.3s ease;

			&:hover {
				box-shadow: 0 .0625rem 20px 0 rgba(0,0,0,.05);				
				transform: translateY(-.0625rem);
			}
		}
	}

	.item {
		.pic-product {
			position: relative;

			.cent-txt {
				.wrap-inner {
					position: absolute;
					top: 0;
					right: 0;
					background: rgba(255,212,36,.9);
					width: 38px;
					height: 35px;
					padding: 4px;
					color: $primary;
					font-size: 12px;
					line-height: 1.1;
					text-align: center;
					font-weight: 600;

					span {
						color: $white;
						text-transform: uppercase;
						display: block;
					}
				}
				
				&:before {
					content: "";
					width: 0;
					height: 0;
					top: 35px;
					right: 0;
					position: absolute;
					border-color: transparent rgba(255,212,36,.9);
					border-style: solid;
					border-width: 0 19px 4px;
				}
			}
		}

		.wrap-info {
			padding: 12px;

			.title-pr {
				h3 {
					font-size: 12px;
					line-height: 1.3;
				}
			}

			.price-wrap {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.price {
					padding: 0 !important;

					del {
						span {
							font-size: 12px;
						}
					}

					ins {
						span {
							color: $primary;
							font-weight: 500;
							font-size: 14px;
						}
					}

					>span.amount {
						color: $primary;
						font-weight: 500;
						font-size: 14px;
					}
				}

				// Free ship
				.free-shipping {
					font-size: 0;
					display: flex;
					align-items: center;

					&:before {
						content: '';
						background-image: url("../images/freeship.png");
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						width: 20px;
						height: 12px;
						display: inline-block;
					}
				}
			}

			.info-pd {
				//margin-top: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.favorite-pd {
					color: $primary;
				}

				.ele-pd {
					.ratings {
						.star-rating {
							margin: 0;
							font-size: 12px;

							&:before {
								color: $purple;
							}

							span {
								&:before {
									color: $purple;
								}
							}
						}
					}

					.sold-txt {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.wrap-list {
	padding: 0 15px;
}

.dokan-dashboard-wrap {
	.dokan-dash-sidebar.dokan-dash-sidebar {
		background: transparent !important;
		width: 25%;
		overflow: unset;

		ul.dokan-dashboard-menu {
			background: transparent !important;

			li {
				background: $white;
				box-shadow: 8px 7px 10px -6px rgba(0,0,0,0.38);
				border: none !important;
				margin-bottom: 8px;

				a {
					color: $gray !important;
					font-size: 16px;

					i {
						color: $purple-lg;
					}

					&:hover, &:focus, &:active {
						background: $green;
						color: $heading-color !important;

						i {
							color: $white;
						}
					}
				}

				&:after {
					border-width: 21px 20px 24px 0;
					border-color: transparent #f5f5f5 transparent transparent;
					margin-top: -25px;
					top: 56%;
				}

				&.active {
					a {
						background: $green !important;
						color: $heading-color !important;

						i {
							//color: $white;
						}
					}
				}

				&.dokan-common-links {
					display: flex;
					border: none !important;
					background: transparent !important;
					box-shadow: none;
					margin-right: -6px;

					.tips {
						background: $purple-lg;
						border: none !important;
						box-shadow: 8px 7px 10px -6px rgba(0,0,0,0.38);
						padding: 8px 16px;
						font-size: 25px;
						text-align: center;
						line-height: 25px;
						margin-right: 6px;

						i {
							font-size: 20px;
							padding-right: 0;
							color: $white;
						}

						&:hover {
							background: $purple-lg !important;
							opacity: 0.85;
						}
					}
				}

				&.withdraw {
					display: none;
				}
			}
		}
	}

	.dokan-dashboard-content {
		width: 75%;

		.dokan-dashboard-header {
			background: $white;
			margin: 0;
			//padding: 15px;
			border-radius: 6px;
		}

		>.entry-title {
			background: $white;
			border-bottom: 1px solid #eee;
			border-radius: 6px 6px 0 0;
			font-size: 23px;
			padding: 15px;
			margin: 0;
		}

		.dokan-dashboard-header {
			.entry-title {
				//background: $white;
				//border-bottom: 1px solid #eee;
				border-radius: 6px 6px 0 0;
				font-size: 23px;
				padding: 15px;
				margin: 0;
			}
		}

		>article {
			background: $white;
			border-radius: 6px;
			padding: 15px 20px;
			height: 100%;

			.entry-title {
				background: $white;
				border-radius: 6px;
				font-size: 23px;
			}

			.dokan-dashboard-header {
				margin: 0 0 15px 0;
			}
		}

		button.dokan-btn,
		.dokan-btn-theme,
		input[type="submit"] {
			background: $primary !important;
			text-transform: none;
			font-weight: 500;
			color: $white;
			border-color: $primary !important;

			&:hover {
				opacity: 0.8;
			}
		}

		input {
			box-shadow: none !important;

			&:focus {
				border-color: $primary;
			}
		}

		label {
			font-weight: 500;
		}

		ul.order-statuses-filter,
		ul.dokan-listing-filter,
		ul.list-inline {
			display: flex;
			margin-top: 10px;

			li {
				padding: 0;
				border-right: none;

				+li {
					margin-left: 10px;
					padding-left: 10px !important;
					border-left: 2px solid $border-color;
				}

				a {
					font-size: 15px;
				}

				&.active {
					a {
						color: $green;
					}
				}
			}
		}

		.dokan_tabs {
			border: none;

			li {
				border: none !important;
				margin: 0 !important;

				+li {
					padding-left: 8px;
				}

				a {
					border: none;
					padding-left: 15px !important;
					padding-right: 15px !important;
					background: #eee;

					&:hover {
						background: $green;
						color: $white;
					}
				}

				&.active {
					a {
						background: $green;
						color: $white;
					}
				}
			}
		}

		ul.chart-legend {
			strong {
				font-size: 25px !important;
			}
		}

		.dokan-add-product-link {
			.dokan-add-new-product {
				background: $primary;
			}
		}

		.dokan-order-filter-serach {
			.dokan-left {
				.dokan-form-group {
					display: flex;

					#order_date_filter {
						margin-bottom: 0;
					}

					.select2-container--default {
						margin: 0 6px;
					}
				}
			}

			.dokan-right {
				.dokan-btn {
					height: 40px;
				}
			}
		}

		#dokan-product-list-table,
		.dokan-table {
			display: inline-block;
			overflow-x: auto;

			thead {
				tr {
					th {
						border-bottom-width: 1px;
						line-height: 1;
						text-transform: none;
						font-weight: 600;
						color: #212121;

						.dokan-checkbox {
							margin: 0;
						}
					}
				}
			}

			tbody {
				strong {
					font-weight: 500;
				}
			}
		}

		.pagination-wrap {
			ul {
				li {
					span.page-numbers {
						&.current {
							border: 1px solid #604d8c;
							background: $primary;
							color: $white;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 850px){
	#top-bar {
		display: none;
	}

	.header-main {
		padding-left: 35px;

		.header-inner {
			align-items: center !important;

			.show-for-medium {
				&.flex-right {
					display: none !important;
				}

				&.flex-left {
					margin-right: 12px;
					width: 100%;
				}
			}

			.hide-for-medium {
				&.flex-right {
					display: block !important;

					.block-user {
						display: none;
					}
				}

				&.flex-left {
					display: none !important;
				}
			}
		}

		#logo {
			//width: 30% !important;
			//margin-right: 0;
		}

		ul.mobile-nav {
			position: static;

			.html_topbar_left {
				position: absolute;
				left: 15px;
				display: block !important;
				font-size: 18px;
			}
		}

		.cart-item {
			ul.nav-dropdown {
				left: auto;
				right: 0;
			}
		}
	}

	.header-top {
		.mobile-nav {
			justify-content: space-between;
		}
	}

	.wrap-canvas {
		width: 300px;

		.icon-close {
			left: 300px;
		}

		.head-top {
			.ic-user {
				font-size: 35px;
			}

			.ct-right {
				h4 {
					font-size: 16px;
				}

				span {
					font-size: 14px;
				}
			}
		}

		.wrap-menu {
			height: calc(100vh - 85px);
		}
	}

	.section-browse {
		margin-top: 15px !important;
	}

	.footer-wrapper {
		.footer-1 {
			#text-2 {
				max-width: 100%;
				flex-basis: 100%;
			}

			#text-3 {
				max-width: 50%;
				flex-basis: 50%;
			}

			#text-4 {
				max-width: 50%;
				flex-basis: 50%;
			}
		}

		.footer-2 {
			.row {
				.col {
					max-width: 33.33%;
					flex-basis: 33.33%;
				}
			}
		}
	}
}

@media (max-width: 550px){
	.header-main {
		#logo {
			img {
				max-height: 50px !important;
			}
		}
	}

	.header-search-form-wrapper .searchform {
		.ux-search-submit {
			background: transparent !important;
			padding: 0 !important;

			.icon-search {
				color: $green;
			}
		}
	}

	.row-slider {
		.flickity-button.flickity-button {
			//box-shadow: 0 1px 12px 0 rgba(0,0,0,.12) !important;
			height: 35px;
			width: 35px !important;

			.flickity-button-icon {
				padding: 7px !important;
				border: 2px solid #111 !important;

				&:hover {
					border-color: $primary !important;
				}
			}

			&:hover {
				color: $white;
				background: $primary;
			}
		}
	}

	.footer-wrapper {
		.footer {
			padding: 0;
		}

		.footer-1 {
			padding-top: 32px;

			#text-2 {
				margin-bottom: 0;
			}

			#text-3 {
				max-width: 100%;
				flex-basis: 100%;
				margin-bottom: 0;
			}

			#text-4 {
				max-width: 100%;
				flex-basis: 100%;
				margin-bottom: 0;

				h2 {
					margin-top: 16px;
				}
			}
		}

		.footer-2 {
			.row {
				.col {
					max-width: 100%;
					flex-basis: 100%;
				}
			}

			.widget_nav_menu {

				&:last-child {
					border-bottom: 1px solid $border-color;
				}
			}
		}
	}

	.footer-wrapper {
		.widget_text,
		.widget_nav_menu {
			text-align: center;
			border-top: 1px solid $border-color;
			//border-bottom: 1px solid $border-color;
			margin-bottom: 0 !important;
			padding: 15px !important;

			.widget-title {
				margin-right: 10px;
				margin-bottom: 0;
				cursor: pointer;
				text-transform: none;
				font-size: 18px;
			}

			>div {
				display: none;
				//margin-top: 15px;
			}

			.textwidget {
				margin-top: 16px;
			}
			
			ul.menu {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
	
	.absolute-footer {
		padding-bottom: 80px !important;
	}
}

table.shop_table {
	thead {
		display: none;
	}

	tbody {
		tr {
			&.item-bg {
				&.no-view {
					display: none;
				}

				&.has-view {
					background: #f5f5f5;
				}
			}

			&.vendor-list {
				td {
					text-align: left;
				}

				a {
					color: $primary;
					font-size: 18px;

					i {
						margin-right: 6px;
						font-size: 20px;
					}
				}
			}

			td {
				padding: 20px 12px;

				span.amount {
					font-weight: 500;
				}

				&.product-name {
					.variation {
						font-size: 13px;
						font-weight: 500;
						color: $primary;
						text-transform: capitalize;
					}
				}

				&.product-wishlist {
					a {
						margin: 0;
						background: transparent;
						padding: 0;
						text-align: center;
						font-size: 20px;

						i {
							color: $primary;
						}

						&:hover {
							box-shadow: none;

							i {
								color: $green;
							}
						}
					}
				}

				&.product-remove {
					a {
						font-size: 0 !important;
						border: none;

						&:before {
							content: '\f2ed';
							font-family: 'Font Awesome 5 Pro';
							display: inline-block;
							margin-right: 4px;
							color: $green;
							font-size: 20px;
						}
					}
				}

				&.actions {
					.mwb_wpr_apply_custom_points {
						display: none;
					}
				}
			}
		}

		tr {
			td {
				padding: 10px 0;

				th {
					font-weight: 500;
					color: $heading-color;
					letter-spacing: 0;
					text-transform: capitalize;
					font-size: 15px;
				}

				td {
					padding-top: 0;

					.woocommerce-shipping-contents {
						display: none;
					}
				}
			}

			&.order-total {
				th, td {
					border-width: 1px;
				}

				th {
					font-weight: 500;
					color: $heading-color;
					letter-spacing: 0;
					text-transform: capitalize;
					font-size: 17px;
				}

				td {
					.amount {
						color: $primary;
						font-size: 20px;
					}
				}
			}

			&.cart-subtotal {
				th {
					font-weight: 500;
					color: $heading-color;
					padding: 4px 0 18px;
					letter-spacing: 0;
					text-transform: capitalize;
					font-size: 17px;
				}

				td {
					padding: 0;

					.amount {
						color: $primary;
					}
				}
			}
		}
	}

	tfoot {
		tr {
			th {
				padding-left: 20px;
				color: $heading-color;
				font-weight: 500;
			}
		}
	}
}

.woocommerce-checkout-review-order,
.woocommerce-cart-form {

	table.shop_table {

		tbody {
			tr {
				td {
					padding: 16px 12px;
				}
			}
		}
	}
}