// Breadcrumb
.breadcrumb-block {
	margin-bottom: 20px;
	
	.breadcrumbs  {
		font-weight: 400;
	}
}

.title-head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	.title-txt {
		display: flex;
		align-items: center;

		h3 {
			width: auto;
			margin-right: 10px;
			margin: 0;
		}

		span {
			border-radius: 1px;
			border: 1px solid $primary;
			color: $primary;
			font-size: 12px;
			margin-left: 10px;
			padding: 0 5px;
		}
	}

	.link-more {
		a {
			color: $primary;

			i {
				display: inline-block;
				font-size: 12px;
				margin-left: 5px;
			}
		}
	}
}

// Single Product
.pg-single-product {
	.section-info {
		background: $white;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		padding: 20px;

		.item-media {
			flex-basis: 40%;

			@media (max-width: 850px){
				flex-basis: 100%;
				max-width: 100%;
			}
		}

		.item-info {
			flex-basis: 60%;

			@media (max-width: 850px){
				max-width: 100%;
				flex-basis: 100%;
				margin-top: 30px;
			}
		}

		// Picture
		.product-images {
			.product-images {
				.image-tools {
					.wishlist-button {
						background: $primary;
						color: $white;
					}

					.wishlist-popup {
						display: none;
					}
				}
			}

			.product-thumbnails {

			}
		}

		// Share social & Whislist
		.share-product {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 20px;

			.share-social {
				border-right: 1px solid $border-color;
				margin-right: 20px;
				padding-right: 20px;
				display: flex;
				align-items: center;

				@media (max-width: 550px){
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}

				.icon {
					font-size: 14px;
					margin: 0 4px;
					width: 30px;
					min-width: auto;
					line-height: 30px;
					height: 30px;
					display: inline-block;
					min-height: auto;
					text-align: center;
				}

				.social-icons {
					z-index: 10;
				}

			}

			.favorite-pd {
				.button {
					margin: 0;
					background: transparent;
					border: none;
					color: $heading-color;
					font-weight: 400;
					padding: 0;

					.fa {
						&:before {
							color: $primary;
						}
					}

					&:hover {
						color: $primary;
						box-shadow: none;;
					}
				}
			}
		}

		// Summary
		.entry-summary {
			padding-left: 32px;

			@media (max-width: 850px){
				padding-left: 0;
			}

			.is-divider {
				display: none;
			}

			// Title
			.title-pd {
				h1 {
					font-size: 18px;
				}
			}

			// Ratings
			.woocommerce-product-rating {
				display: flex;
				align-items: center;
				margin-bottom: 12px;

				.rating-pd {
					display: flex;
					align-items: center;
					color: $primary;
					line-height: 1;

					.txt {
						margin-right: 6px;
					}
				}

				.num-ratings {
					border-left: 2px solid $border-color;
					line-height: 1;
					padding-left: 10px;
					margin-left: 10px;
				}

				.num-sold {
					border-left: 2px solid $border-color;
					line-height: 1;
					padding-left: 10px;
					margin-left: 10px;
				}
			}

			// Price
			.price-wrapper {
				padding: 15px 20px;
				background: #fafafa;
				display: flex;
				align-items: center;

				.product-page-price {
					margin: 0;
					display: flex;
					align-items: center;

					del {

					}

					ins {
						margin-right: 15px;
						margin-left: 8px;
						font-size: 26px;

						span {
							color: $primary;
							font-weight: 500;
						}
					}

					>span.amount {
						color: $primary;
						font-weight: 400;
						margin-right: 15px;
						margin-left: 8px;
						font-size: 26px;
					}
				}

				.cent-txt {
					background: $primary;
					color: $white;
					font-weight: 500;
					padding: 4px 6px;
					font-size: 11px;
					line-height: 1;
				}
			}

			.price-product {
				display: flex;
				align-items: center;
				margin-top: 15px;

				.item-percent {
					display: flex;
					align-items: center;

					.price-old {

					}

					.price-new {
						color: $primary;
						margin: 0 10px;
						font-size: 30px;
					}

					.number-percent {
						background: $primary;
						font-weight: 500;
						font-size: 10px;
						color: $white;
						padding: 2px 5px;
					}
				}
			}

			// Quanlity
			.color-quanlity {
				margin-top: 20px;

				.dokan-wholesale-meta {
					margin-bottom: 16px;

					span.amount {
						font-weight: 500;
					}

					strong {
						font-weight: 500;
					}
				}

				table.variations {

					tbody {
						tr {
							display: flex;

							td.label {
								margin-right: 15px;
								width: 100px !important;

								label {
									color: $gray;
									font-size: 16px;
									font-weight: 400;
								}

								.woo-selected-variation-item-name {
									display: none;
								}
							}

							td.value {
								ul {
									li {
										padding: 6px 20px;
										height: 34px;
										box-shadow: none;
										border: 1px solid $border-color;

										&.selected,
										&:hover, 
										&:focus {
											border-color: $primary;
											color: $primary;
										}
									}
								}
							}
						}
					}
				}

				.cart.grouped_form {
					table.woocommerce-grouped-product-list {
						tbody {
							tr {
								td {
									label {
										font-weight: 500;
										font-size: 15px;
									}

									span.amount {
										font-weight: 500;
									}

									&.woocommerce-grouped-product-list-item__quantity {
										a.product_type_variable {
											line-height: 1.5;
											padding-top: 8px;
											padding-bottom: 8px;
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}

					.single_add_to_cart_button {
						background: rgba(130, 124, 172, 0.1);
						border: 1px solid $primary;
						box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
						font-size: 14px;
						color: $primary;
						font-weight: 500;
						padding: 15px 30px;
						width: 180px;
						line-height: 1;
						margin-top: 15px;

						&:before {
							content: '\f217';
							font-family: 'Font Awesome 5 Pro';
							display: inline-block;
							margin-right: 8px;
							font-size: 16px;
							color: $primary;
							font-weight: 300;
							line-height: 1;
						}

						&:hover {
							background: rgba(130, 124, 172, 0.15);
						}
					}

					>.quick_buy_container {
						display: inline-block;
					}

					.wcqb-preset {
						color: $white;
						background: $primary;
						width: 180px;
						font-weight: 400;
						font-size: 14px;
						text-transform: none;
						line-height: 1;
						padding: 17px 30px;

						&:hover {
							opacity: 0.9;
						}
					}
				}
				

				.quantity-group {
					display: flex;
					align-items: center;
					margin-bottom: 20px;

					.label-quantity {
						margin-right: 12px;
						font-size: 16px;
						font-weight: 400;
						width: 100px !important;
						color: $gray;
					}

					.buttons_added {
						.minus {
							padding: 0 12px;
						}

						.qty {
							box-shadow: none;
						}

						.plus  {
							padding: 0 12px;
						}
					}
				}

				.add-to-cart-group {
					display: flex;
					flex-wrap: wrap;

					.single_add_to_cart_button {
						background: rgba(130, 124, 172, 0.1);
						border: 1px solid $primary;
						box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
						font-size: 14px;
						color: $primary;
						font-weight: 500;
						padding: 15px 30px;
						width: 180px;
						line-height: 1;

						&:before {
							content: '\f217';
							font-family: 'Font Awesome 5 Pro';
							display: inline-block;
							margin-right: 8px;
							font-size: 16px;
							color: $primary;
							font-weight: 300;
							line-height: 1;
						}

						&:hover {
							background: rgba(130, 124, 172, 0.15);
						}
					}

					.wcqb-preset {
						color: $white;
						background: $primary;
						width: 180px;
						font-weight: 400;
						font-size: 14px;
						text-transform: none;
						line-height: 1;
						padding: 17px 30px;

						&:hover {
							opacity: 0.9;
						}
					}
				}
			}
		}
	}

	.section-shop {
		background: $white;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
		padding: 30px;
		margin-bottom: 20px;

		@media (max-width: 850px){
			padding: 15px;
		}

		.shop-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.item-media {
				flex-basis: 40%;
				border-right: 1px solid $border-color;
				display: flex;
				align-items: center;
				padding-right: 32px;

				@media (max-width: 850px){
					padding-right: 0;
					border-right: none;
					margin-bottom: 15px;
					flex-basis: 100%;
				}

				.profile-img {
					width: 90px;
					border: 1px solid $border-color;
				}

				.info-shop {
					flex: 1;
					padding-left: 30px;

					h5 {

					}

					.group-button {
						display: flex;
						flex-wrap: wrap;

						.dokan-live-chat {
							border: 1px solid $primary !important;
							box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
							background: rgba(130, 124, 172, 0.1);
							color: $primary;
							margin-bottom: 5px;
							font-size: 14px;
							margin-left: 0 !important;

							&:before {
								content: '\f27a';
								font-family: 'Font Awesome 5 Pro';
								display: inline-block;
								margin-right: 8px;
								color: $primary;
								font-size: 14px;
							}

							&:hover {
								background: $primary;
								color: $white;

								&:before {
									color: $white;
								}
							}
						}

						a {
							background: transparent;
							border: 1px solid $gray !important;
							color: $gray;
							display: inline-block;
							font-size: 14px;
							height: 36px;
							line-height: 32px;
							max-width: 190px;
							min-width: 60px;
							padding: 0 15px;
							margin-bottom: 5px;

							&:before {
								content: '\f54e';
								font-family: 'Font Awesome 5 Pro';
								display: inline-block;
								margin-right: 8px;
								color: $gray;
								font-size: 14px;
							}

							&:hover {
								background: $primary;
								color: $white;
								border-color: $primary !important;

								&:before {
									color: $white;
								}
							}
						}
					}
				}
			}

			.item-info {
				padding-left: 32px;

				@media (max-width: 850px){
					padding-left: 0;
				}

				ul {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 0;

					li {
						width: 50%;
						display: flex;
						padding-right: 20px;
						white-space: nowrap;

						@media (max-width: 850px){
							width: 100%;
							padding-right: 0;
						}

						span {
							&.txt {
								margin-right: 8px;
								max-width: 120px;
							}

							&.num {
								color: $primary;
								flex: 1;
							}
						}
					}
				}
			}
		}
	}

	.main-page {
		display: flex;
		flex-wrap: wrap;

		.block-inner {
			//width: 70%;

			.specifications-product {
				background: $white;
				padding: 20px;

				h4 {
					background: rgba(0,0,0,.02);
					color: rgba(0,0,0,.87);
					padding: 12px;
					font-size: 18px;
				}

				.product_meta {
					padding: 0 12px;
					margin-top: 15px;

					@media (max-width: 850px){
						padding: 0;
					}

					span {
						border: none;
						font-size: 15px;
					}
				}
			}

			.description-product {
				background: $white;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
				margin-bottom: 30px;
				padding: 0 20px 20px;

				.title-head {
					background: rgba(0,0,0,.02);
					color: rgba(0,0,0,.87);
					padding: 12px;

					h3 {
						color: rgba(0,0,0,.87);
						font-size: 18px;
					}
				}

				.ct-text {
					padding: 0 12px;

					@media (max-width: 850px){
						padding: 0;
					}
				}
			}

			.ratings-product {
				background: $white;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
				margin-bottom: 30px;
				padding: 20px;

				.review-comment {
					.cr-average-rating {
						color: $primary;
					}

					.woocommerce-review__author {
						font-weight: 500;
						color: $heading-color;
					}

					.woocommerce-Reviews-title,
					#reply-title {
						display: none;
					}

					.ivole-summaryBox {
						margin: 0;

						.ivole-credits {
							display: none;
						}
					}

					.cr-ajax-search,
					.cr-review-tags-filter,
					.cr-ajax-reviews-sort-div {
						display: none !important;
					}

					.form-submit {
						input[type="submit"] {
							background: $primary;
							font-weight: 400;
							font-size: 15px;
							text-transform: capitalize;
						}
					}
				}

				#review_form {
					label {
						font-weight: 500;
					}
				}
			}

			.same-shop {
				margin-bottom: 40px;
			}

			.similar-pd {
				margin-bottom: 40px;
			}

			.also-like {
				
			}
		}

		.sidebar-page {
			flex: 1;
			background: $white;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
			margin-left: 30px;
			padding: 12px;

			.title-sec {

			}
		}
	}
}

.list-product {
	.slider-wrap {

		// Picture
		.item-media {
			
		}
	}

	&.single-product {
		.owl-item {
			background: $white;
			//height: 100%;

			.item {
				
			}
		}
	}
}

.shop-container {

	// Sale
	.badge-container {
		display: none;
	}

	// Page category
	.row {
		>.product-small {
			padding: 0 6px 12px !important;

			.col-inner {
				background: $white;
				height: 100%;
				box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
				transition: all 0.3s ease;

				&:hover {
					box-shadow: 0 .0625rem 20px 0 rgba(0,0,0,.05);				
					transform: translateY(-.0625rem);
				}
			}
		}
	}

	.item {
		.item-body {
			
		}
	}
}

.dokan-store-wrap {

	.profile-info-box {
		&.profile-layout-layout1 {
			.profile-info-summery-wrapper {
				height: auto !important;
				padding: 0 15px 15px !important;

				.profile-info-summery {
					position: static !important;
					height: auto !important;
					margin-top: -55px;

					.profile-info-head {
						margin-right: 15px;
					}

					.profile-info {

					}
				}
			}
		}
	}

	.title-head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		margin-top: 40px;

		.title-txt {

			h3 {
				margin: 0;
			}
		}
	}

	.list-product {
		.dokan-product {
			display: flex;
			flex-wrap: wrap;
			//margin: 0 -6px;
			height: auto !important;

			.col-inner {
				//max-width: 20%;
				margin: 0;
				padding: 0 6px;

				.item {
					background: $white;
				}
			}
		}
	}

	.products-data {
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;

		.col {
			padding-bottom: 0;
		}

		.left-sidebar {
			//width: 20%;
			//padding-right: 10px;

			h3 {
				font-size: 16px;
				border-bottom: 1px solid $border-color;
				width: 100%;
				padding-bottom: 10px;
				margin-bottom: 16px;

				&:before {
					content: '\f03a';
					display: inline-block;
					font-size: 15px;
					font-weight: 600;
					color: $heading-color;
					font-family: 'Font Awesome 5 Pro';
					margin-right: 10px;
				}
			}

			.store-cat-stack-dokan {
				ul {
					li {
						margin-left: 0;
						margin-bottom: 6px;

						.toggle {
							display: none;
						}

						a {
							color: $gray;

							&:hover {
								color: $primary;
							}
						}

						>ul.children  {
							margin-left: 8px;

							li {
								&:first-child {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}

		.right-sidebar {
			//flex: 1;
			//padding-left: 10px;
		}
	}
}

.checkout-page-title {
	.checkout-breadcrumbs {
		font-size: 22px;
		display: flex;
		justify-content: start;
		color: $primary;
		border-left: 3px solid $green;
		padding-left: 15px;

		@media (max-width: 550px){
			padding-top: 0;
			padding-bttom: 0;
		}

		>a {
			color: $heading-color;

			&.current,
			&:hover {
				color: $purple;
			}
		}
	}
}


.woocommerce-cart,
.checkout-product {
	.woocommerce-cart-form {
		background: $white;
		border-radius: 6px;
		//padding: 20px;
		//height: 100%;
	}

	.cart-collaterals {
		border: none !important;
		
		.cart-sidebar {
			background: $white;
			border-radius: 6px;
			padding: 20px;
		}
	}

	.recently-viewed-products {
		background: $white;
		border-radius: 6px;
		//padding: 30px;
		margin: 30px 0;

		.widget-title  {
			padding: 15px;
			border-bottom: 1px solid $border-color;
			width: 100%;
			display: block;
		}

		.product_list_widget {
			padding: 0 20px;
		}
	}

	.featured-products {
		background: $white;
		border-radius: 6px;
		//padding: 30px;

		.title-head {
			padding: 15px;
			border-bottom: 1px solid $border-color;
			width: 100%;
			display: block;
		}

		.list-product {
			padding: 0 10px 0 20px;

			.col {
				//height: 100%;
			}

			.col-inner {
				border: 1px solid $border-color;
				padding-bottom: 0;
				height: 100%;
			}

			.badge-container {
				display: none;
			}
		}
	}
}

.woocommerce-checkout {
	#customer_details {
		background: $white;
		border-radius: 6px;
		//padding: 30px;

		.woocommerce-billing-fields {
			padding-top: 0;
			border: none;

			.woocommerce-billing-fields__field-wrapper {
				>p {
					display: flex;
					align-items: center;
					width: 100%;
					margin-bottom: 4px;
				}

				label {
					font-weight: 500;
					font-size: 15px;
					margin: 0;

					i {
						color: $primary;
					}
				}

				.woocommerce-input-wrapper {
					flex: 1;
				}

				input {
					box-shadow: none;
					border: none;
					margin: 0;
					padding: 0 0 0 8px;
					line-height: 1;
					height: auto;

					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			          font-size: 12px;
			        }

			        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
			          font-size: 12px;
			        }

			        &::-ms-input-placeholder { /* Microsoft Edge */
			          font-size: 12px;
			        }

			        &:focus {
			        	border-bottom: 1px solid $border-color;
						padding: 0px 10px 5px;
			        }
				}
			}
		}
	}

	.woocommerce-privacy-policy-text {
		display: none;
	}

	>.row {
		.col {
			.col-inner {
				background: $white;
				border-radius: 6px;
				padding: 20px;
				border: none !important;
			}
		}
	}

	#order_review_heading {
		display: none;
	}
	
	.woocommerce-checkout-review-order {
		background: $white;
		border-radius: 6px;
		//padding-bottom: 20px;
	}

	.woocommerce-checkout-payment {
		ul {
			li {
				padding-left: 20px;
			}
		}

		.place-order {
			padding-left: 20px;

			.button {
				background: $primary;
			}
		}
	}
}

#mwb_wpr_order_notice {
	background: $gadient-lr;
	border-radius: 4px;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 15px;
	font-family: Roboto;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;

	p {
		background: transparent !important;
	}

	.amount {
		color: $white;
	}
}

.woocommerce-cart-form {
	.cart-wrapper {
		.woocommerce-message {
			display: none;
		}
	}
}

.cart-collaterals {
	.cart_totals  {
		table {
			thead {
				tr {
					th {
						border-bottom: 1px solid $border-color !important;
						font-size: 18px;
						font-weight: 500;
						text-transform: none;
						color: $heading-color;
						padding-top: 0;
					}
				}
			}

			tbody {
				tr {
					th {
						color: $heading-color;
						font-weight: 500;

						+td {
							padding: 0 20px 10px;
						}
					}

					td {
						padding: 10px 0;

						span.woocommerce-Price-amount {
							color: $primary;
							font-weight: 500;
						}

						.woocommerce-shipping-calculator {
							a {
								font-weight: 500;
								font-size: 13px;
							}
						}

						.shipping__table {
							p {
								display: none;
							}

							button[type="submit"] {
								background: $primary !important;
							}
						}
					}

					&.order-total {
						th {
							border-bottom: 1px solid $border-color;
							font-size: 18px;
						}

						td {
							border-bottom: 1px solid $border-color;

							strong {
								color: $primary;
								font-size: 18px;
							}
						}
					}
				}
			}
		}

		.wc-proceed-to-checkout {
			margin: 20px 0 10px;

			a {
				border-radius: 8px;
				font-weight: 500;
				height: 45px;
				line-height: 45px;
				background: $primary;
				margin: 0;
			}
		}
	}

	.checkout_coupon {
		.coupon {
			display: flex;
			flex-wrap: wrap;

			h3 {
				color: $heading-color;
				border-bottom: 1px solid $border-color;
				display: none;
			}

			#coupon_code {
				width: 60%;
				height: 35px;

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		          font-size: 12px;
		        }

		        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
		          font-size: 12px;
		        }

		        &::-ms-input-placeholder { /* Microsoft Edge */
		          font-size: 12px;
		        }
			}

			input[type="submit"] {
				background: $purple-lg;
				color: $white;
				text-shadow: none;
				height: 35px;
				flex: 1;
				margin: 0 0 0 6px;
				border: none;
				font-size: 12px;
			}
		}
	}

	.custom_point_checkout {
		display: flex;
		flex-wrap: wrap;

		#mwb_cart_points {
			width: 60%;
			height: 35px;
			box-shadow: none;
			background: #a6d63459;
			border-color: #a6d63459;

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	          font-size: 12px;
	        }

	        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
	          font-size: 12px;
	        }

	        &::-ms-input-placeholder { /* Microsoft Edge */
	          font-size: 12px;
	        }
		}

		#mwb_cart_points_apply {
			background: $green;
			color: $heading-color;
			text-shadow: none;
			height: 35px;
			flex: 1;
			margin: 0 0 0 6px;
			border: none;
			font-size: 12px;
			min-width: auto;
		}

		p {
			text-align: right !important;

			.amount {
				color: $primary;
			}
		}
	}
}

.page-checkout {
	.checkout_coupon {
		.coupon {
			#coupon_code {
				box-shadow: none;
				background: #9c84c240;
				border-color: #9c84c240;
			}

			button.expand {
				font-weight: 500;
				background: $primary;
			}
		}
	}

	.woocommerce-checkout {
		h3 {
			font-weight: 500;
			text-transform: none;
			color: $heading-color;
		}

		.woocommerce-billing-fields {
			//border-top: 1px solid $border-color;
			margin-bottom: 25px;

			label {
				font-weight: 500;
				font-size: 15px;
				margin: 0;
			}

			input {
				box-shadow: none;

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		          font-size: 12px;
		        }

		        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
		          font-size: 12px;
		        }

		        &::-ms-input-placeholder { /* Microsoft Edge */
		          font-size: 12px;
		        }
			}
		}

		.woocommerce-shipping-fields {
			.woocommerce-form__label {
				span {
					font-size: 1px;
				}
			}
		}

		.woocommerce-additional-fields {
			label {
				font-weight: 500;
				font-size: 15px;
			}

			textarea {
				box-shadow: none;

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		          font-size: 12px;
		        }

		        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
		          font-size: 12px;
		        }

		        &::-ms-input-placeholder { /* Microsoft Edge */
		          font-size: 12px;
		        }
			}
		}

		table.shop_table {
			tfoot {
				display: none;
			}
		}
	}

	.checkout-sidebar {
		.shop_table {
			margin-bottom: 0;
		}

		#order_review {
			table {
				thead {
					tr {
						th {
							border-bottom: 1px solid $border-color !important;
							font-size: 14px;
							text-transform: none;
							color: $heading-color;
						}
					}
				}

				tbody {
					tr {
						td {
							span.amount {
								color: $primary;
								font-weight: 500;
							}
						}
					}
				}

				tfoot {
					tr {
						td {
							span.amount {
								color: $primary;
								font-weight: 500;
							}
						}
					}
				}
			}

			.woocommerce-checkout-payment {
				label {
					font-weight: 500;
				}

				button[type="submit"] {
					font-weight: 500;
				}

				ul.payment_methods {
					li {
						.payment_method_reddot {
							.reddot-card-option {
								margin-bottom: 0;

								.reddot-card-label {
									&:before {
										background-color: $primary;
									}
								}
							}
						}
					}
				}
			}
		}

		.woocommerce-checkout-payment {
			ul.methods {
				>li {
					padding-left: 0;
				}

				.reddot-card-option {
					margin: 0 0 6px 0;

					.reddot-card-label {
						&:before {
							background-color: $white;
							top: 3px;
							margin: 0 10px 0 0px;
							border: 1px solid $primary;
						}

						&:after {
							top: 23px;
							background-color: $primary;
						}
					}
				}
			}
		}

		.place-order {
			padding-left: 0;

			#place_order {
				margin: 0;
				width: 100%;
				border-radius: 8px;
				height: 45px;
			}
		}
	}
}

.dashboard-account {
	.woocommerce {
		background: $white;
		max-width: 100%;
		padding: 25px;
		height: 100%;
		border-radius: 6px;

		table {
			thead {
				tr {
					th {
						color: $heading-color;
						text-transform: none;
						border-width: 2px;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		.dokan-btn,
		button[type="submit"] {
			background: $gadient-lr;
			border: none;
			height: 40px;
			line-height: 28px;
			padding-left: 20px;
			padding-right: 20px;
			color: $white !important;
			text-transform: none;
		}

		.register, 
		.edit-account,
		.woocommerce-address-fields {
			legend {
				color: $heading-color;
				text-transform: none;
			}

			label {
				font-weight: 500;
				font-size: 15px;
			}

			input.input-text,
			.input-select {
				box-shadow: none;
				height: 48px !important;
				max-height: 48px !important;

				&:focus {
					border: 2px solid $purple-lg;
				}
			}
		}

		.mwb_wpr_points_wrapper_with_exp {
			.mwb_wpr_points_only {
				
			}
		}

		.mwb_wpr_heading {
			font-weight: 500;
			font-size: 18px;
			color: $heading-color;
		}

		.woocommerce-MyAccount-points,
		.mwb_wpr_each_section,
		.mwb_wpr_each_section {
			border: none !important;
			box-shadow: none;
			background: $white;

			.mwb_wpr_save_changes,
			.mwb_wpr_custom_coupon {
				text-transform: none;
				font-weight: 400;
				color: $white;
				background: $primary;
			}
		}

		.mwb_wpr_slide_toggle {
			p {
				font-weight: 500;
				padding: 15px 20px;

				a.mwb_wpr_open_toggle {
					right: 30px;
				}
			}

			table.mwb_wpr_common_table {
				thead {
					tr {
						th {
							padding-top: 16px;
							padding-bottom: 16px;
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 16px;
						}
					}
				}
			}
		}
	}

	.dashboard-links {
		.row {
			width: 100% !important;

			.col {
				padding-bottom: 0;
			}
		}

		.item {
			background: $white;
			border-radius: 6px;
			border: 1px solid $border-color;
			padding: 20px;
			text-align: center;
			font-size: 16px;
			line-height: 1.5;

			>div {
				+div {
					margin-top: 10px;
				}
			}

			div.txt-link {
				margin-bottom: 20px;

				a {
					border: none;
					padding: 0;
					color: #270d5c;
					font-size: 18px;
					font-weight: 600;

					&:hover {
						background: transparent;
						opacity: 0.85;
					}
				}
			}

			.display_name {
				//font-size: 18px;
				//font-weight: 600;
				//margin-bottom: 6px 0;
				color: #2b2929;
			}

			.points-number {
				font-size: 20px;
				color: #2b2929;
			}
		}
	}

	ul.dokan-account-migration-lists {
		li {
			strong {
				color: $heading-color;
				font-weight: 500;
			}

			a.btn-primary {
				background: $primary;
				color: $white;
				padding: 8px 16px;

				&:hover {
					opacity: 0.85;
				}
			}
		}
	}

	.col-border {
		border: none;
	}

	ul.nav-line {
		margin-top: 0;

		label {
			background: $purple-lg;
			color: $white;
			text-align: left;
			width: 100%;
			font-size: 18px;
			font-weight: 500;
			padding: 10px 12px;
		}

		li {
			border: none;
			margin-bottom: 8px;

			a {
				font-size: 16px;
				font-weight: 400;
				padding: 4px 0;
				background: $white;
				box-shadow: 8px 7px 10px -6px rgba(0,0,0,0.38);
				padding: 10px 12px;

				&:before {
					display: none;
				}

				&:after {
					content: '';
					border: transparent solid;
					border-width: 21px 20px 28px 0;
					border-color: transparent #f5f5f5 transparent transparent;
					margin-top: -25px;
					border-width: 19px 19px 22px 0;
					left: 93%;
					top: 63%;
					position: absolute;
					display: none;
				}

				&:hover {
					color: $white;
					background: $green;
				}
			}

			&.current-menu-item {
				a {
					background: $green;

					&:after {
						display: inline-block;
					}
				}
			}

			
		}
	}

	#my-order-nav {
		margin-top: 48px;
		margin-bottom: 30px;
	}

	.woocommerce-MyAccount-navigation-link {
		list-style: none;
		margin-bottom: 0;

		a {
			padding: 4px 0;
			background: $green;
			box-shadow: 8px 7px 10px -6px rgba(0,0,0,0.38);
			padding: 8px 12px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:after {
				content: '\f054';
				display: inline-block;
				margin-left: 8px;
				font-family: 'Font Awesome 5 Pro';
				font-size: 13px;
			}

			&:hover {
				color: $white;
				background: $green;
			}
		}
	}
}

.touch-scroll-table {
	background: $white;
	padding: 15px;
	border-radius: 6px;

	table {
		thead {
			tr {
				th {
					border-width: 2px;
					text-transform: none;
					color: $heading-color;
				}
			}
		}
	}
}

table.wishlist_table {
	background: $white;
	padding: 15px;
	
	thead {
		tr {
			th {
				border-bottom: 1px solid $border-color;
				font-size: 16px;
				font-weight: 500;
				text-transform: none;
				color: $heading-color;
			}
		}
	}

	tbody {
		tr {
			td {
				&.product-remove {
					a {
						color: $primary;
					}
				}

				&.product-price {
					ins {
						.amount {
							color: $primary;
							font-weight: 500;
						}
					}

					.amount {
						//color: $primary;
						font-weight: 500;
					}
				}

				&.product-stock-status {
					span {
						font-weight: 500;
						color: $green;
					}
				}

				&.product-add-to-cart {
					a {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.yith_wcwl_wishlist_footer {
	.share-icons {
		display: flex;
		align-items: center;

		a {
			margin-bottom: 0;
		}
	}
}

.dokan-single-store {
	.profile-info-summery-wrapper {
		.profile-info-summery {
			display: flex;
			align-items: center;
			padding: 30px !important;

			@media (max-width: 992px){
				flex-wrap: wrap;
			}

			@media (max-width: 768px){
				padding: 15px !important;
			}

			.seller-leading {
				position: relative;
				flex: 1;
				max-width: 100%;

				.banner-shop {
					width: 390px;
					height: 160px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					position: relative;
					max-width: 100%;

					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: rgba(0, 0, 0, 0.53);
					}
				}

				.profile-img {
					position: absolute;
					padding: 15px;
					top: 0;
					left: 0;
					display: flex;
					flex-wrap: wrap;
					max-width: 390px;

					.logo-shop {
						width: 90px;
						background: $white;
						border-radius: 50%;

						img {
							height: 90px;
							width: 90px;
							border-radius: 50%;
							border: 3px solid $border-color;
						}
					}
					

					.shop-info {
						width: 50%;
						flex: 1;
						padding-left: 15px;

						h4 {
							color: $white;
						}
					}

					ul.link-store {
						width: 100%;
						display: flex;
						align-items: center;
						margin: 10px 0 0;

						li {
							margin: 0;
							width: 48%;
							//padding: 0 8px;
							+li {
								margin-left: 16px;
							}

							.dokan-btn {
								background: transparent !important;
								border-color: $white !important;
								border-radius: 0;
								width: 100%;
								margin: 0;
								top: 0 !important;

								&:hover {
									background: rgba(225, 225, 225, 0.2) !important;
								}

								&.dokan-live-chat {
									&:before {
										content: '\f27a';
										font-family: 'Font Awesome 5 Pro';
										display: inline-block;
										margin-right: 4px;
										color: $white;
										font-size: 12px;
									}
								}

								&.dokan-follow-store-button {
									&:before {
										content: '\f067';
										font-family: 'Font Awesome 5 Pro';
										display: inline-block;
										margin-right: 4px;
										color: $white;
										font-size: 12px;
									}
								}
							}
						}
					}
				}
			}

			.profile-info {
				@media (max-width: 992px){
					width: 100% !important;
					margin-top: 15px;
					padding-left: 0 !important;
				}

				.dokan-store-info {
					padding-left: 0 !important;
					display: flex;
					flex-wrap: wrap;
					margin: 0;

					li {
						list-style: none;
						margin: 0 !important;
						font-size: 15px;

						@media (min-width: 1200px){
							padding: 0 20px !important;
						}

						+li {
							//padding-top: 16px;
						}

						i {
							font-weight: 300 !important;
							margin: 0 12px 0 0 !important;
						}

						&:before {
							display: none;
						}

						&.first-col {
							width: 100%;
						}

						&.second-col {
							//width: 50%;

							@media (max-width: 550px){
								width: 100%;
							}
						}

						.txt-info {
							color: $primary;
						}

						>div {
							display: flex;
							flex-wrap: wrap;
							line-height: 30px;
							margin-right: 6px;
							margin-top: 0;
							align-items: center;
							word-break: break-word;

							.fa, i {
								margin: 0 15px 0 0;
								width: 12px;
							}

							>div {
								margin-right: 8px;
								display: flex;
								align-items: center;
							}
						}
					}
				}

				.store-social-wrapper {
					padding: 0 20px;
					margin-top: 10px;

					ul.store-social {
						display: flex;
						flex-wrap: wrap;
					}
				}
			}
		}
	}
}

.error-404 {
	text-align: center;

	.header-font {
		font-weight: 500;
		font-size: 120px;
		color: $heading-color;
		line-height: 1;
	}

	.searchform {
		max-width: 700px;
		margin: 0 auto;

		input[type="search"] {
			height: 45px;
			box-shadow: none;

			&:focus {
				border: 2px solid $purple-lg;
			}
		}

		.submit-button {
			height: 45px;
			width: 45px;
			background: $green !important;
		}
	}
}

.woocommerce-pagination {
	margin: 32px 0;

	ul {
		li {
			.page-number {
				font-weight: 500;
				box-shadow: none;
				height: 40px;
				width: 40px;
				line-height: 38px;

				&.current {
					
				}
			}
		}
	}
}

.dokan-pagination-container {
	ul.dokan-pagination {
		li {
			+li {
				margin-left: 10px;
			}

			a {
				font-weight: 500;
				box-shadow: none;
				line-height: 38px;
				padding: 6px 15px;

				&:hover {
					color: $white;
					background: $green;
				}
			}

			&.active {
				a {
					color: $white;
					background: $green;
				}	
			}
		}
	}
}

.shop-container {
	.page-wrapper {
		padding: 0;
	}

	.dokan-store-wrap {
		margin: 0;
	}
}


// Page policy
.page-left-sidebar {
	.col-divided {
		border: none !important;
	}

	.menu-policies-container {
		>ul.menu {
			>li {
				border: none !important;
				box-shadow: 8px 7px 10px -6px rgba(0, 0, 0, 0.38);
				background: $white;
				margin-bottom: 11px;
				padding: 6px 12px;

				>a {
					color: $heading-color;
				}
			}
		}

		li {


			&.has-child {
				ul.sub-menu {
					background: $white;
					margin: 0;
					padding-left: 15px;
					border: none;

					li {
						a {
							padding: 5px 0;
						}

						&.current_page_item {
							a {
								color: $primary;
							}
						}
					}
				}
			}

			&.active {
				background: $green;

				a {

				}
			}
		}
	}
}

.menu-us {
	ul.menu-us-wrap {
		display: flex;
		flex-wrap: wrap;
		background: $white;
		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		margin-bottom: 0;
		padding: 12px 0;

		@media (max-width: 768px){
			padding: 0;
		}

		.sub-menu {
			@media (min-width: 768px){
				background: $white;
				box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
				position: absolute;
				top: 57px;
				right: 0;
				left: 0;
				margin: 0;
				transition: all 0.3s ease;
				z-index: 10;
				padding: 12px;
				border-top: 1px solid #eee;
				visibility: hidden;
				opacity: 0;
			}

			@media (min-width: 768px) and (max-width: 992px){
				top: 50px;
			}

			@media (max-width: 768px){
				display: none;
				width: 100%;
				margin: 0;
			}

			>li {
				text-align: center;
				margin: 0;

				+li {
					margin-top: 12px;
				}

				&:last-child {
					@media (max-width: 768px){
						margin-bottom: 12px;
					}
				}

				>a {
					//padding: 12px 16px;
				}
			}
		}

		>li {
			border-right: 1px solid $green;
			margin: 0;
			display: flex;
			position: relative;
			width: 20%;
			justify-content: center;
			flex-wrap: wrap;

			@media (max-width: 768px){
				width: 100%;
				border-bottom: 1px solid $border-color;
				border-right: none;
			}

			>a {
				padding: 8px;
				color: $purple;
				font-size: 18px;
				font-weight: 500;

				@media (min-width: 768px) and (max-width: 992px){
					font-size: 14px;
				}

				@media (max-width: 768px){
					padding: 12px 8px;
				}
			}

			i {
				line-height: 50px;
			}

			&:last-child {
				border: none;
			}

			&:hover {
				>a {
					color: $green;
				}

				.sub-menu {
					@media (min-width: 768px){
						visibility: visible;
						opacity: 1;
					}
				}
			}

			&.active {
				>a {
					color: $green;
				}
			}
		}
	}
}

.section-full {
	background: $white;
	padding: 0 !important;

	.section-about,
	.section-address {
		margin: 0 auto !important;
		max-width: 800px;
	}

	.section-facebook {
		padding: 64px 0;
		margin: 0 auto !important;
		max-width: 800px;
	}

	.section-insta {
		
		background: #27205c;
		margin: 0 !important;

		>div {
			margin: 0 auto !important;
			max-width: 800px;
			padding: 64px 0 !important;
		}

		h3 {
			margin-bottom: 30px;
		}

		&:before {
			content: '';
			background: url('../images/pt-1.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top left;
			height: 110px;
			width: 1200px;
		}

		&:after {
			content: '';
			background: url('../images/pt-2.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top left;
			height: 77px;
			width: 1200px;
		}
	}

	.section-blog {
		background: #665289;
		margin: 0 !important;
	}

	.list_post {
		padding: 0 48px;

		.col {
			display: flex;
			margin-bottom: 12px;

			.pic-article {
				width: 50%;
				padding-right: 30px;

				img {
					border-radius: 4px;
				}
			}

			.body-item {
				flex: 1;
				color: $white;

				.date-article {
					font-size: 14px;
					opacity: 0.7;
					margin-bottom: 6px;
				}

				.post-title {
					a {
						color: $white;
					}
				}

				.link-view {
					margin-top: 30px;

					>a {
						color: $white;
					}
				}
			}
		}
	}
}

.recently-viewed-products {
	.widget-title  {
		font-size: 1.25em;
		font-weight: 500;
		color: $heading-color;
	}

	ul.product_list_widget {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		li {
			width: 16.67%;
			padding: 20px 15px 0;
			border: none;

			>a {
				display: flex;
				flex-direction: column;
				margin-bottom: 15px;
				color: $heading-color;
				font-size: 12px;
				font-weight: 500;

				img {
					position: static;
					width: 100%;
					height: 100%;
					margin-bottom: 25px;
				}
			}

			.star-rating {
				&:before {
					font-size: 12px;
				}

				span {
					&:before {
						font-size: 12px;
					}
				}
			}

			.reviewer {

			}

			&:hover {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}

.checkout-product,
.featured-products {
	.also-like {
		position: relative;

		.row {
			//position: static;
		}

		.flickity-button {
			box-shadow: none !important;
			background: transparent !important;

			@media (max-width: 550px){
				top: 50%;
			}

			.flickity-button-icon {
				border: 2px solid #212121;
				border-radius: 50%;

				@media (max-width: 550px){
					margin-top: 0;
				}

				&:hover {
					border-color: $primary;
					background: $primary;
					
					.arrow {
						fill: $white !important;
					}
				}
			}

			&:hover {
				@media (max-width: 550px){
					height: auto;
					bottom: auto;
					top: 50%;
				}
			}
		}

		.info-pd {
			.favorite-pd {
				margin-top: 10px;
			}
		}
	}
}


.comming-soon {
	margin-top: -20px;
}

.woocommerce-order-details {
	background: #fff;
	border-radius: 6px;
	padding: 20px;

	.woocommerce-order-details__title {
		display: none;
	}
}

.woocommerce-customer-details {
	margin-top: 20px;
	background: #fff;
	border-radius: 6px;
	padding: 20px;

	.woocommerce-column {
		border-radius: 6px;
		border: 1px solid #eee;
		padding: 20px;
		text-align: center;
		font-size: 16px;
		line-height: 1.5;
		margin-left: 10px;

		>h2 {
			font-size: 18px;
		}
	}
}

.is-well.entry-content {
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: none;

	ul.order_details {
		li {
			margin-left: 0;

			strong {
				font-weight: 500;
			}
		}
	}
}