/*
*
* Define keyframes
*
*/

// Sticky menu
@keyframes smoothScroll { 
  0% {
    @include translateY(-100px);
  }
  100% {
    @include translateY(0px);
  }
}

@-webkit-keyframes smoothScroll {
	0% {
    @include translateY(-100px);
	}
	100% {
    @include translateY(0px);
	}
}


// Animation in view js
// ANIMATIONS
// --------------------------------------------------
// Animate function
@-webkit-keyframes popUp {
  70% {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -webkit-animation-timing-function: ease-out;
  }
  100% { 
    -webkit-transform: scale(1); 
    opacity: 1;
  }
}

@-moz-keyframes popUp {
  70% {
    -moz-transform: scale(1.1);
    opacity: 0.8;
    -moz-animation-timing-function: ease-out;
  }
  100% { 
    -moz-transform: scale(1); 
    opacity: 1;
  }
}

@keyframes popUp {
  70% {
    transform: scale(1.1);
    opacity: 0.8;
    animation-timing-function: ease-out;
  }

  100% { 
    transform: scale(1); 
    opacity: 1;
  }
}

@-webkit-keyframes moveFromLeft {
  0% {
    -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
    -webkit-animation-timing-function: ease-out;
  }
  100% { 
    -webkit-transform: translateX(0);
      transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes moveFromLeft {
  0% {
    -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
    -moz-animation-timing-function: ease-out;
  }
  100% { 
    -webkit-transform: translateX(0);
      transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  0% {
    -webkit-transform: translateX(-15%);
      transform: translateX(-15%);
    animation-timing-function: ease-out;
  }

  100% { 
    -webkit-transform: translateX(0);
      transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    -webkit-transform: translateX(15%);
      transform: translateX(15%);
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@-moz-keyframes moveFromRight {
  0% {
    -webkit-transform: translateX(15%);
      transform: translateX(15%);
    -moz-animation-timing-function: ease-out;
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveFromRight {
  50% {
    -webkit-transform: translateX(15%);
      transform: translateX(15%);
    animation-timing-function: ease-out;
    opacity: 0;
  }

  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes moveFromBottom {
  0% {
    -webkit-transform: translateY(8%);
      transform: translateY(8%);
    -webkit-animation-timing-function: ease-out;
    opacity: 0.8;
  }
  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@-moz-keyframes moveFromBottom {
  0% {
    -webkit-transform: translateY(8%);
      transform: translateY(8%);
    -moz-animation-timing-function: ease-out;
    opacity: 0.8;
  }
  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveFromBottom {
  0% {
    -webkit-transform: translateY(8%);
      transform: translateY(8%);
    animation-timing-function: ease-out;
    opacity: 0.8;
  }

  100% { 
    -webkit-transform: translateX(0%);
      transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% { 
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }

  100% { 
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% { 
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }

  100% { 
    -moz-animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% { 
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }

  100% { 
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes flip {
  0% { 
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: rotateY(-40deg);
    opacity: 0.8;
  }

  100% { 
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flip {
  0% { 
    -moz-animation-timing-function: ease-out;
    -moz-transform: rotateY(-40deg);
    opacity: 0.8;
  }

  100% { 
    -moz-animation-timing-function: ease-out;
    -moz-transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flip {
  0% { 
    animation-timing-function: ease-out;
    transform: rotateY(-40deg);
    opacity: 0.8;
  }

  100% { 
    animation-timing-function: ease-out;
    transform: rotateY(0deg);
    opacity: 1;
  }
}

// Ipad
@include media-breakpoint-up(md) {
  .js-animate {
    position: relative;
    @include perspective(600px);
    opacity: 0;
  }

  .inview {
    .js-animate[data-animation="pop-up"],
    .js-animate.pop-up {
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-animation: popUp 1000ms / 2 ease-in-out forwards;
         -moz-animation: popUp 1000ms / 2 ease-in-out forwards;
          -ms-animation: popUp 1000ms / 2 ease-in-out forwards;
              animation: popUp 1000ms / 2 ease-in-out forwards;
      @include scale(0.5, 0.5);
    }

    .js-animate[data-animation="move-from-left"],
    .js-animate.move-from-left {
      -webkit-animation: moveFromLeft 1000ms ease-in-out forwards;
         -moz-animation: moveFromLeft 1000ms ease-in-out forwards;
              animation: moveFromLeft 1000ms ease-in-out forwards;
    }

    .js-animate[data-animation="move-from-right"],
    .js-animate.move-from-right {
      -webkit-animation: moveFromRight 1000ms ease-in-out forwards;
         -moz-animation: moveFromRight 1000ms ease-in-out forwards;
              animation: moveFromRight 1000ms ease-in-out forwards;
    }

    .js-animate[data-animation="move-from-bottom"],
    .js-animate.move-from-bottom {
      -webkit-animation: moveFromBottom 1000ms ease-in-out forwards;
         -moz-animation: moveFromBottom 1000ms ease-in-out forwards;
              animation: moveFromBottom 1000ms ease-in-out forwards;
    }

    .js-animate[data-animation="fadeIn"],
    .js-animate.fadeIn {
      -webkit-animation: fadeIn 1000ms ease-in-out forwards;
         -moz-animation: fadeIn 1000ms ease-in-out forwards;
              animation: fadeIn 1000ms ease-in-out forwards;
    }

    .js-animate[data-animation="fadeInUp"],
    .js-animate.fadeInUp {
      -webkit-animation: fadeInUp 1000ms ease-in-out forwards;
         -moz-animation: fadeInUp 1000ms ease-in-out forwards;
              animation: fadeInUp 1000ms ease-in-out forwards;
    }

    .js-animate[data-animation="flip"],
    .js-animate.flip {
        transform-style: preserve-3d;
      -webkit-animation: flip 1000ms ease-in-out forwards;
         -moz-animation: flip 1000ms ease-in-out forwards;
              animation: flip 1000ms ease-in-out forwards;
    }

    .js-animate {
      &[data-delay="item-0"],
      &.dl-item-0 {
        @include animation-delay(200ms);
      }

      &[data-delay="item-1"],
      &.dl-item-1 {
        @include animation-delay(400ms);
      }

      &[data-delay="item-2"],
      &.dl-item-2 {
        @include animation-delay(600ms);
      }

      &[data-delay="item-3"],
      &.dl-item-3 {
        @include animation-delay(800ms);
      }

      &[data-delay="item-4"],
      &.dl-item-4 {
        @include animation-delay(1100ms);
      }

       &[data-delay="item-5"],
       &.dl-item-5 {
        @include animation-delay(1200ms);
      }

       &[data-delay="item-6"],
       &.dl-item-6 {
        @include animation-delay(1300ms);
      }

       &[data-delay="item-7"],
       &.dl-item-7 {
        @include animation-delay(1400ms);
      }

       &[data-delay="item-8"],
       &.dl-item-8 {
        @include animation-delay(1500ms);
      }

      &[data-delay="item-9"],
       &.dl-item-9 {
        @include animation-delay(1600ms);
      }

      &[data-delay="item-10"],
       &.dl-item-10 {
        @include animation-delay(1700ms);
      }

      &[data-delay="item-11"],
       &.dl-item-11 {
        @include animation-delay(1800ms);
      }

      &[data-delay="item-12"],
       &.dl-item-12 {
        @include animation-delay(1900ms);
      }

      &[data-delay="item-13"],
       &.dl-item-13 {
        @include animation-delay(2000ms);
      }

      &[data-delay="item-15"],
       &.dl-item-15 {
        @include animation-delay(2100ms);
      }

      &[data-delay="item-16"],
       &.dl-item-16 {
        @include animation-delay(2200ms);
      }

      &[data-delay="200"],
      &.dl-2 {
        @include animation-delay(200ms);
      }

      &[data-delay="400"],
      &.dl-4 {
        @include animation-delay(400ms);
      }

      &[data-delay="600"],
      &.dl-6 {
        @include animation-delay(600ms);
      }

      &[data-delay="800"],
      &.dl-8 {
        @include animation-delay(800ms);
      }

      &[data-delay="1000"],
      &.dl-10 {
        @include animation-delay(1000ms);
      }
    }
  }
}

