/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

#order_review li.wc_payment_method.payment_method_reddot label{
	display: inline !important;
}

p#billing_country_field{
	display: none !important;
}

.cart-header .woocommerce-notices-wrapper .woocommerce-message{
    display: none !important;
}

.cart_totals .mwb_wpr_apply_custom_points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cart_totals .mwb_wpr_apply_custom_points #mwb_cart_points {
    width: 60%;
    height: 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #a6d63459;
    border-color: #a6d63459;
}

.cart_totals .mwb_wpr_apply_custom_points #mwb_cart_points_apply {
    background: #a6d634;
    color: #222;
    text-shadow: none;
    height: 35px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 0 0 6px;
    border: none;
    font-size: 12px;
    min-width: auto;
}